.container{
    display: flex;
    flex-direction: row;
}

.pizzaDiv img{
    position: absolute;
    top:5px;
    left: 705px;
    z-index: -1;
}

.rightDiv img{
    position: absolute;
    left: 688px;
}

.logo img{
    position: absolute;
    width: 107px;
    height: 83px;
    top:33px;
    left: 100px;
}

.title{
    position: absolute;
    width: 345px;
    height: 207px;
    top: 227px;
    left: 100px;
}

.title h2{
    font-weight: 700;
    font-size: 62px;
    line-height: 69px;
    color: #0E2368;
}

.desc{
    position: absolute;
    width: 345px;
    height: 55px;
    top: 520px;
    left: 100px;
}
.desc p{
    font-weight: 400;
    font-size: 16.44px;
    line-height: 27.41px;
    color: #444957;
}
.leftDiv button{
    position: absolute;
    background-color: #E23744;
    color: white;
    width: 190px;
    height: 63px;
    top: 640px;
    left: 97px;
    border-radius: 34px;
    padding: 14px 34px 14px 34px;
    gap: 7px;
    
}

